* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #555;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  overflow-x: hidden;
  transition: opacity 1s;
  width: 100vw;
}

img {
  max-width: 100%;
  margin: auto;
}

a {
  text-decoration: none !important;
}

li {
  font-size: 15px;
  font-weight: 400;
  color: #1b1b1b;
  margin-bottom: 10px;
  letter-spacing: 0.025em;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

section {
  padding-top: 100px;
}
/* Start text-main */
.text {
  text-align: center;
  padding-top: 50px;
}

.text h2 {
  font-size: 1.3rem;
  color: #1b1b1b;
  letter-spacing: 1rem;
  margin: 20px 0px;
  line-height: 2.5rem;
  padding: 0px 20px;
  font-weight: 600;
}

.text h5 {
  font-size: 1rem;
  line-height: 2rem;
  color: #707070;
  font-weight: 400;
  padding: 0px 100px;
  letter-spacing: 1px;
}
/* End text-main */

/* start header */
header {
  background-image: url(../img/evgeni-evgeniev-LPKk3wtkC-g-unsplash.jpg);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  overflow: hidden;
}

header .links {
  background-color: #1b1b1b;
  height: 100vh;
  width: 400px;
  position: fixed;
  color: #fff;
  top: 0;
  right: 0;
  margin-right: -420px;
  transition: all 0.4s ease-in-out;
  z-index: 999;
  box-shadow: -8px 0px 10px 0px rgb(17 18 20 / 30%);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.active {
  margin-right: 0px !important;
}

header ul li {
  padding: 30px 0;
}

header ul li a {
  color: #fbfbfb;
  font-size: 1.2rem;
}

header ul li a.active-color,
header ul li a:hover {
  color: #ffe600;
}

nav a img {
  height: auto;
  margin-top: 20px;
}

.container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .span {
  width: 40px;
  height: 30px;
  cursor: pointer;
  z-index: 9999;
  margin-top: 18px;
  margin-right: 9px;
}

nav .span span {
  background-color: #ffe600;
  width: 40px;
  height: 4px;
  display: block;
  border-radius: 2px;
  transition: all 0.125s ease-in-out;
}

nav .span span:nth-child(2) {
  margin: 8px 0;
}

nav .span:hover span:nth-child(2) {
  width: 50%;
  justify-content: flex-start;
}

.active-1 {
  transform: rotate(45deg) !important;
  margin-top: 15px !important;
}

.active-2 {
  display: none !important;
}

.active-3 {
  transform: rotate(-45deg) !important;
  margin-top: -4px !important;
}

.active-main {
  position: fixed;
  left: 76%;
  z-index: 99999999999999;
}

header .text {
  color: #fff;
  text-align: center;
  padding-top: 200px;
}

.text h1 {
  font-size: 1.3rem;
  color: #fbfbfb;
  letter-spacing: 1rem;
  margin-bottom: 30px;
  line-height: 2.5rem;
  padding: 0px 20px;
}

.text h3 {
  font-size: 0.8rem;
  color: #fbfbfb;
  letter-spacing: 0.4rem;
  font-weight: 400;
  margin-bottom: 57px;
  padding: 0px 20px;
  line-height: 1.8rem;
}

.button a {
  background-color: #ffe600;
  padding: 18px 40px;
  text-transform: uppercase;
  font-size: 0.6rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  border: 1px solid #ffe600;
  color: #000;
}

.button a:hover {
  background-color: transparent;
  color: #fbfbfb;
}

header .image {
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
}

header .icon {
  position: absolute;
  left: 49.5%;
  bottom: 1%;
  transform: translateX(-50%);
  animation: down 2s infinite;
  font-size: 1.5rem;
}

header .icon a {
  color: #fff;
}

@keyframes down {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}
/* End header */

/* Start landing */
.landing {
  text-align: center;
  padding-bottom: 100px;
}

.landing p {
  margin-top: 50px;
  font-size: 14px;
  font-weight: 300;
  line-height: 2rem;
  padding: 0px 200px;
  color: #1b1b1b;
}

/* End landing */

/* Start Services */
.services {
  background-color: #f5f5f5;
}

.services .box {
  box-shadow: 0px 0px 15px 0px rgb(27 27 27 / 10%);
  padding: 50px 10px 20px 10px;
  background-color: #fff;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 100px;
}

.services .box h4 {
  margin-top: 70px;
  font-size: 1rem;
  line-height: 2rem;
  color: #1b1b1b;
  font-weight: 600;
  margin: 20px 0px;
  letter-spacing: 1px;
}

.services .box p {
  font-size: 0.8rem;
  line-height: 1.7rem;
  color: #1b1b1b;
  margin-bottom: 15px;
  letter-spacing: 0.025em;
}

.services .box1 {
  background-color: #fff;
  padding: 20px 10px 10px 10px;
  box-shadow: 0px 0px 15px 0px rgb(27 27 27 / 10%);
  margin-bottom: 30px;
}

.services .box1 h6 {
  font-size: 0.8rem;
  margin-bottom: 5px;
  color: #000;
  font-weight: 700;
  margin-top: 0;
  letter-spacing: 1px;
  padding: 5px 0;
}

.services .box1 .progres {
  width: 100%;
  height: 5px;
  background-color: #eee;
}

.services .box1 .progres span {
  display: block;
  height: 5px;
  background-color: #ffe600 !important;
  transition: 0.3s linear;
}
/* End Services */

/* Start Services-landing  */
.Services-landing {
  width: 100%;
  background-color: #1b1b1b;
  padding: 80px 0px;
}

.Services-landing .box {
  background-color: #fff;
  text-align: center;
  padding: 10px 0;
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.Services-landing .box .number {
  font-size: 1.2rem;
  margin: 0px;
  padding: 0px;
  color: #1b1b1b;
  font-weight: 600;
  letter-spacing: 0.025em;
  line-height: 1.8;
}

.Services-landing .box .text {
  font-size: 0.9rem;
  margin: 0px;
  padding: 0px;
  opacity: 0.6;
  color: #1b1b1b;
  font-weight: 600;
  letter-spacing: 0.025em;
  line-height: 1.8;
}
/* End Services-landing  */

/* Start portfolio */
.portfolio {
  width: 100vw;
  padding-bottom: 100px;
}

.portfolio .content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
  margin-bottom: 40px;
}

.portfolio .content .flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio .content .link {
  margin: 0px 30px;
}

.portfolio .content a {
  color: #000;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
}

.portfolio .content a.active-color,
.portfolio .content a:hover {
  border-bottom: 3px solid #ffe600;
  color: rgba(44, 44, 44, 0.8);
}

.portfolio .content img {
  position: relative;
  margin: 40px;
}

.portfolio .box {
  position: relative;
}

.portfolio .box:hover .text,
.portfolio .box:hover .text .work_text {
  opacity: 1 !important;
}

.portfolio .box img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.portfolio .box .text {
  position: absolute;
  background-color: #ffe600;
  width: 70%;
  height: 80%;
  left: 15%;
  top: 10%;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.portfolio .box .text .work_text {
  position: absolute;
  color: #1b1b1b !important;
  width: 130%;
  height: 75%;
  background-color: #fff;
  left: -15%;
  top: 10%;
  text-align: center;
  padding: 25px;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.portfolio .box .text .work_text p:nth-child(1) {
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  line-height: 1.8;
  color: #1b1b1b;
  margin-bottom: 15px;
  margin-top: 0;
}

.portfolio .box .text .work_text p:nth-child(2) {
  font-size: 0.8rem;
  line-height: 1.8;
  color: #1b1b1b;
  margin-bottom: 15px;
  letter-spacing: 0.025em;
}

.portfolio .button {
  text-align: center;
  margin-top: 70px;
}

.portfolio .button a {
  padding: 20px 40px;
  background-color: #ffe600;
  font-size: 0.7rem;
  font-weight: 600;
  border: 1px solid #ffe600;
  color: #000;
  text-decoration: none;
  letter-spacing: 1px;
  position: relative;
}

.portfolio .button a:hover {
  background-color: transparent;
}
/* End portfolio */

/* Start Video */
.video {
  background-image: url(../img/photoholgic-fn6x1TL290w-unsplash.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 380px;
  width: 100vw;
  padding: 180px 0;
  position: relative;
}

.video::before {
  content: "";
  position: absolute;
  background-color: #1b1b1b;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

.video .container .button {
  text-align: center;
  margin: 30px 0;
}

.video .container .button a {
  padding: 30px;
  background-color: transparent;
  font-size: 0.8rem;
  font-weight: 600;
  border: 1px solid #ffe600;
  color: #ffe600;
  text-decoration: none;
  letter-spacing: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video .container .button a:hover {
  color: #1b1b1b;
  background-color: #ffe600;
}
/* End Video */

/* Start Team */
.team {
  position: relative;
}

.team .box {
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 0px 15px 0px rgb(27 27 27 / 10%);
  margin-top: 10px;
}

.team .box .image {
  position: relative;
}

.team .box .image img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.team .box .text-name {
  background-color: #ffe600;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 60px;
  padding: 17px 0px;
  opacity: 0.7;
}

.team .box .text-name p {
  font-size: 1rem;
  color: #1b1b1b;
  font-weight: 600;
  margin-bottom: 15px;
  letter-spacing: 0.025em;
  line-height: 1.8;
}

.team .box .text-info p {
  font-size: 0.8rem;
  color: #707070;
  font-weight: 400;
  padding: 20px 10px;
  letter-spacing: 0.025em;
  line-height: 1.8;
}

.team .info-box {
  background-color: #1b1b1b;
  margin: 50px 0px;
  padding: 50px;
}
.team .info-box p {
  font-size: 0.8rem;
  color: #bababa;
  margin-bottom: 15px;
  letter-spacing: 0.025em;
  line-height: 1.8;
}

.team .quote {
  text-align: center;
}

.team .quote p {
  font-size: 0.8rem;
  color: #1b1b1b;
  padding: 0px 50px;
  margin-bottom: 15px;
  letter-spacing: 0.025em;
  line-height: 1.8;
}

.team .quote p.one {
  font-style: italic;
  float: left;
}

.team .quote p.two {
  font-style: italic;
  float: right;
}

.team .row-bottom {
  margin: 100px 0 !important;
}

.team .parent-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.team .quote-right {
  margin: 20px 0px;
}

.team .info-image {
  object-fit: cover;
  width: 100%;
  height: 300px;
  position: relative;
  top: -13%;
}

.team .quote-bg {
  width: 100%;
  height: 210px;
  background-color: #ffe600;
  position: absolute;
  bottom: 180px;
  z-index: -999;
}
/* End Team */

/* start footer */
footer {
  background-color: #1b1b1b;
  margin-top: 50px;
  padding: 80px 0px 50px;
}

footer .container .info p:nth-child(2) {
  margin: 30px 0;
}

footer .container .info p:nth-child(2),
footer .container .info p:nth-child(3),
footer .container .info p:nth-child(4) {
  font-size: 0.8rem;
  color: #bababa;
  letter-spacing: 0.025em;
  line-height: 1.8;
}

footer .container .info p:nth-child(3) span {
  color: #ffe600;
}

footer .container .info p:nth-child(3) span:hover {
  color: #fbfbfb;
}

footer .container .info p:nth-child(4) {
  margin: 20px 0;
}

footer .container .contact p:nth-child(1) {
  color: #bababa;
  font-size: 1.25rem;
  letter-spacing: 0.025em;
  line-height: 1.8;
}

footer .container .contact p:nth-child(2) {
  font-size: 0.8rem;
  color: #bababa;
  letter-spacing: 0.025em;
  line-height: 1.8;
}

footer .container .contact .footer-btn a.btn-one {
  background-color: #ffe600;
  padding: 13px 100px;
  border-radius: 25px;
  font-weight: 600;
  border: 1px solid #ffe600;
  display: inline-block;
  width: 285.75px;
  height: 48px;
  color: #000;
  margin: 30px 0;
  letter-spacing: 0.025em;
}

footer .container .contact .footer-btn a.btn-one:hover {
  background-color: transparent;
  color: #f5f5f5;
}
footer .container .contact .social ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

footer .container .contact .social ul li a {
  margin-right: 11px;
  padding: 10px !important;
  color: #1b1b1b;
  background-color: #fbfbfb;
  width: 50px !important;
  height: 50px !important;
  border-radius: 50% !important;
}

footer .container .links ul li p,
footer .container .about ul li p {
  color: #bababa;
  font-size: 1.25rem;
  letter-spacing: 0.025em;
  line-height: 1.8;
  margin-bottom: 15px;
}

footer .container .links ul li,
footer .container .about ul li {
  font-size: 15px;
  font-weight: 400;
  color: #1b1b1b;
  margin-bottom: 10px;
  letter-spacing: 0.025em;
  list-style: none;
}

footer .container .links ul li a,
footer .container .about ul li a {
  color: #bababa;
  font-size: 0.7rem;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 1px;
  position: relative;
}
/* End footer */
